body{
    background-color: #101112;
}

.top{
    height: 10%;
    margin-top: 0%;
    margin-bottom: -3%;
    color: lightcyan;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    font-weight: 500;
    font-size: 6vh;
    animation: fadeIn 2s ease ;
    -moz-animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -o-animation: fadeIn 3s;
}

.subtop{
    color: lightcyan;
    text-align: center;
    opacity: 1;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    font-size: 3vh;
    animation: waitfadeIn 4s ease;
    
}

.mainpar{
    color: lightcyan;
    text-align: center;
    opacity: 1;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    font-size: 3vh;
    border-bottom-style: solid;
    border-top-style: solid;
    border-radius: 1%;
    border-color: lightcyan;
    margin: auto;
    width: fit-content;
    padding: 10px;
    animation: waitfadeIn 8s ease;
}


@keyframes fadeIn {
    0% { opacity: 0; margin-top: -10%; }
    100% { opacity: 1; margin-top: 0%; }
}

@-webkit-keyframes fadeIn {    
    0% { opacity: 0; margin-top: -10%; }
    100% { opacity: 1; margin-top: 0%; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; margin-top: -10%; }
    100% { opacity: 1; margin-top: 0%; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; margin-top: -10%; }
    100% { opacity: 1; margin-top: 0%; }
}

@keyframes waitfadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes waitfadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes waitfadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes waitfadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
